
.bgBox{
    width: 100px;
    height: 100px;
    background-color: #27205b;
    border-radius: 20px;
    box-shadow: 2px 2px 10px ;
}

.oval1{
    height: 30px;
    width: 60px;
    background-image: linear-gradient(to right,#3ea53500,#3fa535);
    border-radius: 0 15px 15px 0;
    transform: translateY(42.5px) translateX(20px);
    animation-name: loader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.oval2{
    height: 30px;
    width: 60px;
    background-image: linear-gradient(to right,#0382d5,rgba(62, 165, 53, 0));
    border-radius: 15px 0 0 15px;
    transform: translateY(-2.5px) translateX(20px);
    animation-name: loader2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes loader {
    0%   {transform: translateY(42.5px) translateX(20px);}
    50%  {transform: rotate(180deg) translateY(-42.5px) translateX(-20px);}
    100% {transform: translateY(42.5px) translateX(20px);}
}

@keyframes loader2 {
    0%   {transform: translateY(-2.5px) translateX(20px);}
    50%  {transform: rotate(180deg) translateY(2.5px) translateX(-20px);}
    100% {transform: translateY(-2.5px) translateX(20px);}
}